$success : #38c172;
$white: #fff;
$danger: #bd2a2a;
$info: #6688f0;
$primary: royalblue;
.navbar {
  .nav-link {
    transition:.5;
    &:hover {
      border-bottom: 2px solid $success;
      color: $success !important;
    }
  }
  .active {
    font-weight: bolder;
    color: $success !important;
    @media(min-width:992px) {
      transition: .5s;
      background-color: $success;
      color: $white !important;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        color: $white !important;
      }
    }
  }
}

.sidebar-list-group {
  .list-group-item {
    transition: 0.2s;
    &:hover {
      border-left: 3px solid #38c172;
      background-color: #1111;
    }
  }
  .active-list-item {
    background-color: #38c172;
    color: white;

    &:hover {
      color: #1119;
    }
  }
}

.dt-buttons {
  .btn {
    background-color: $success !important;
    border-color: $success !important;
    color: white !important;
    font-size: small;
    padding: .2rem .4rem;
  }
}

td,
th {
  white-space: nowrap;
}


.vuecal__cell-events {
  padding:.25rem;
}


/*--------------------------------------------------------------------------------*/
/*                          Calendar Styling                                      */
/*--------------------------------------------------------------------------------*/
.pharmacy-plan,
.health-day {
  margin:.5rem 0rem;
  border-radius: 2px;
  padding:.25rem;
  cursor: pointer;
  font-size: .8rem;

  &:hover{
    opacity: .8;
  }
}

.pharmacy-plan {
  background-color: royalblue !important;
  color: white !important;
}

.health-day{
  background-color: $success!important;
  color: $white !important;
}

.submitted {
  opacity:.8;
  border-left:4px solid orangered;
}

#date_picker {

  .vuecal__cell--today {
    .vuecal__cell-content {
      background-color: orangered !important;
      border: 0 !important;
    }
  }
}



.page-fade {
  animation-name: page_fade_animation;
  animation-duration: 1s;
}

@keyframes page_fade_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dt-buttons {

  .filter-btn {
    background-color: $primary!important;
    border-color:$primary!important;
  }
  .view-btn {
    background-color: orangered!important;
    border-color: orangered !important;
  }
  .edit-btn {
    background-color: #f7f038!important;
    border-color: #f7f038!important;
    color: #111 !important;
  }
}
