$success: #38c172;
$white: #fff;
$danger: #bd2a2a;
$info: #6688f0;
$primary: royalblue;
.dt-buttons {
  .btn {
    background-color: $success !important;
    border-color: $success !important;
    color: white !important;
    font-size: small;
    padding: .2rem .4rem;
  }
  .filter-btn {
    background-color: $primary!important;
    border-color:$primary!important;
  }
  .view-btn {
    background-color: orangered!important;
    border-color: orangered !important;
  }
  .edit-btn {
    background-color: #f7f038!important;
    border-color: #f7f038!important;
    color: #111 !important;
  }
}

.page-link {
  color: #38c172 !important;
}

.disabled {
  .page-link {
    color: #1119 !important;
  }
}

.active-link {
  background-color: $success;
  color: white;
  transition: .5s;
  &:hover {
    background-color: lighten($success, 15%);
    color: darken($success, 15%);
    font-weight: bolder;
  }
}

.active {
  .page-link {
    background-color: $success !important;
    border-color: $success !important;
    color: white !important;
  }
}

.page-fade {
  animation-name: page_fade_animation;
  animation-duration: 1s;
}

@keyframes page_fade_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar-list-group {
  .list-group-item {
    transition: 0.2s;

    &:hover {
      border-left: 3px solid #38c172;
      background-color: #1111;
    }
  }
  .active-list-item {
    background-color: #38c172;
    color: white;

    &:hover {
      color: #1119;
    }
  }
}

.PM , .AM, .COACH{
  width:90% !important;
  margin: 0.2rem auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 90%;
  &:hover{
    opacity:.8;
  }
}

.PM,.COACH {
  background-color: #42b983 !important;
  color: white !important;

}
.AM {
  background-color: royalblue !important;
  color: white !important;
}

.field-activity {
  background-color: #eee12d !important;
  color: #111 !important;
  cursor: pointer;
}

.non-field-activity {
  background-color: #313130 !important;
  color: white !important;
  cursor: pointer;
}

#side_datepicker {
  .vuecal__cell--today {
    .vuecal__cell-content {
      background-color: #41aee1 !important;
      color: white !important;
      font-weight: bolder;
    }
  }
  /* .vuecal__cell--selected {
    border: 2px solid #42b983 !important;
    border-radius: 10px;
  } */
}

.vuecal__body,
.weekday-label {
  @media (max-width: 767.98px) {
    font-size: 0.4rem;
  }
}
td,th {
  white-space: nowrap;
}


.custom-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 1000;
  width:100%;
  height:100%;
}


.date-picker {

  .vuecal__title-bar {
    background-color: #38c172 !important;
    color: white;
  }
}

.rotated {
  transition:.5s;
}

.rotateIcon180 {
  transform: rotateZ(180deg) !important;
}

.custom-btn {
  border:none;
  font-size:100% !important;

  &:focus {
    outline: none !important;
    opacity:.9;
  }
}

