$success: #38c172;
.dt-buttons {
  .btn {
    margin-left: 5px !important;
    background-color: $success !important;
    border-color: $success !important;
    color: white !important;
  }
}

.page-link {
  color: #38c172 !important;
}

.disabled {
  .page-link {
    color: #1119 !important;
  }
}

.active {
  .page-link {
    background-color: $success !important;
    border-color: $success !important;
    color: white !important;
  }
}

.page-fade {
  animation-name: page_fade_animation;
  animation-duration: 1s;
}

@keyframes page_fade_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar-list-group {
  .list-group-item {
    transition: 0.2s;

    &:hover {
      border-left: 3px solid #38c172;
      background-color: #1111;
    }
  }
  .active-list-item {
    background-color: #38c172;
    color: white;

    &:hover {
      color: #1119;
    }
  }
}

.PM {
  /* background-color: rgb(76, 85, 97) !important;
  color: rgb(253, 253, 253) !important;
  margin:.3rem 0;
  border-radius: 5px;
  padding:.4rem; */
  background-color: rgb(54, 214, 94) !important;
  margin: 0.2rem 0;
}

#side_datepicker {
  .vuecal__cell--selected {
    border: 2px solid #1119 !important;
    border-radius: 50%;
  }
}

.vuecal__body,
.weekday-label {
  @media (max-width: 767.98px) {
    font-size: 0.4rem;
  }
}
