.dt-buttons .btn {
  margin-left: 5px !important;
  background-color: #38c172 !important;
  border-color: #38c172 !important;
  color: white !important;
}

.page-link {
  color: #38c172 !important;
}

.disabled .page-link {
  color: #1119 !important;
}

.active .page-link {
  background-color: #38c172 !important;
  border-color: #38c172 !important;
  color: white !important;
}

.page-fade {
  -webkit-animation-name: page_fade_animation;
          animation-name: page_fade_animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes page_fade_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes page_fade_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sidebar-list-group .list-group-item {
  transition: 0.2s;
}

.sidebar-list-group .list-group-item:hover {
  border-left: 3px solid #38c172;
  background-color: #1111;
}

.sidebar-list-group .active-list-item {
  background-color: #38c172;
  color: white;
}

.sidebar-list-group .active-list-item:hover {
  color: #1119;
}

