.navbar .nav-link {
  transition: 0.5;
}

.navbar .nav-link:hover {
  border-bottom: 2px solid #38c172;
  color: #38c172 !important;
}

.navbar .active {
  font-weight: bolder;
  color: #38c172 !important;
}

@media (min-width: 992px) {
  .navbar .active {
    transition: 0.5s;
    background-color: #38c172;
    color: #fff !important;
    font-weight: bold;
    border-radius: 5px;
  }

  .navbar .active:hover {
    color: #fff !important;
  }
}

.sidebar-list-group .list-group-item {
  transition: 0.2s;
}

.sidebar-list-group .list-group-item:hover {
  border-left: 3px solid #38c172;
  background-color: #1111;
}

.sidebar-list-group .active-list-item {
  background-color: #38c172;
  color: white;
}

.sidebar-list-group .active-list-item:hover {
  color: #1119;
}

.dt-buttons .btn {
  background-color: #38c172 !important;
  border-color: #38c172 !important;
  color: white !important;
  font-size: small;
  padding: 0.2rem 0.4rem;
}

td,
th {
  white-space: nowrap;
}

.vuecal__cell-events {
  padding: 0.25rem;
}

/*--------------------------------------------------------------------------------*/

/*                          Calendar Styling                                      */

/*--------------------------------------------------------------------------------*/

.pharmacy-plan,
.health-day {
  margin: 0.5rem 0rem;
  border-radius: 2px;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.pharmacy-plan:hover,
.health-day:hover {
  opacity: 0.8;
}

.pharmacy-plan {
  background-color: royalblue !important;
  color: white !important;
}

.health-day {
  background-color: #38c172 !important;
  color: #fff !important;
}

.submitted {
  opacity: 0.8;
  border-left: 4px solid orangered;
}

#date_picker .vuecal__cell--today .vuecal__cell-content {
  background-color: orangered !important;
  border: 0 !important;
}

.page-fade {
  -webkit-animation-name: page_fade_animation;
          animation-name: page_fade_animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes page_fade_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes page_fade_animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dt-buttons .filter-btn {
  background-color: royalblue !important;
  border-color: royalblue !important;
}

.dt-buttons .view-btn {
  background-color: orangered !important;
  border-color: orangered !important;
}

.dt-buttons .edit-btn {
  background-color: #f7f038 !important;
  border-color: #f7f038 !important;
  color: #111 !important;
}

