tr,
td,
th {
  white-space: nowrap;
}

.user-info-waiting {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #1113;
  border-radius: 5px;
}

.dt-buttons .btn {
  /* margin-left: 5px !important; */
  background-color: #38c172 !important;
  border-color: #38c172 !important;
  color: white !important;
  font-size: small !important;
  padding: 0.2rem 0.4rem;
}

